.test-menu {
  width: 947px;
  margin: auto;
  font-family: sans-serif;
  background-color: #6D6D6D;
  height: 50px;
}

.logo {
  float: left;
  width: 150px;
  height: 35px;
  color: #ffffff;
  font-weight: bold;
  background-color: #6D6D6D;
  margin: 0;
}

.test-menu h3 {
  padding: 13px 15px 0 20px;
}


/*MENU*/
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu > li {
  position: relative;
  float: left;
  height: 49px;
  width: 90px;
  background-color: #6D6D6D;
  text-align: center;
  padding-top: 1px;
}

.menu-open {
  color: #FFFFFF;
  position: relative;
  left: 2px;
  bottom: 2px;
}

.submenu-open {
  color: #FFFFFF;
  position: absolute;
  right: 12px;
  top: 17px;
}

/*MENU ITEM SIZE ADJUSTMENTS*/
.menu .menu-home { width: 78px; }
.menu .menu-about { width: 110px; }
.menu .menu-clients { width: 90px; }

/*MENU HOVER*/
.menu > li:hover {
  background-color: #999999;
}

.menu li:hover > ul {
  display: inline;
}

/*MENU a*/
.menu a {
  color: #FFFFFF;
  text-decoration: none;
  padding: 10px 0px 10px 0px;
  display: block;
  line-height: 30px;
}


/*MENU LEVEL 2*/
.menu-lvl-2 {
  position: absolute;
  top: 50px;
  left: 0px;
  width: 170px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}

.menu-lvl-2 > li {
  position: relative;
  height: 50px;
  background-color: #9D9B9B;
  border-bottom: 1px solid #BBBBBB;
  text-align: left;
  padding-left: 15px;
}

.menu-lvl-2 > li:hover {
  background-color: #cccccc;
}

/*MENU LEVEL 3*/
.menu-lvl-3 {
  position: absolute;
  top: 0;
  right: -150px;
  width: 150px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}

.menu-lvl-3 > li {
  background-color: #B6AFAF;
  border-bottom: 1px solid #DDDDDD;
  padding-left: 15px;
}

.menu-lvl-3 > li:hover {
  background: #CCCCCC;
}





